.profile__edit-button {
    background-image: url(../../../images/edit-button.png);
    background-size: cover;
    background-color: black;
    width: 18px;
    height: 18px;
    padding: 0;
    grid-area: edit-button;
    align-self: end;
    margin-bottom: 4px;
}

@media (min-width: 1000px) {
    .profile__edit-button {
        align-self: center;
        margin: 0;
        width: 24px;
        height: 24px;
    }
}
