.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin: 0 auto;
    padding: 28px;
    max-width: 880px;
}

@media (min-width: 750px) {
    .header {
        padding: 45px 0;
    }
}
