.profile__info {
    position: relative;
    width: 282px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        "name edit-button"
        "text text";
    grid-column-gap: 10px;
}

@media (min-width: 1000px) {
    .profile__info {
        margin: 0 0 0 24px;
        width: 360px;
        grid-column-gap: 0;
    }
}

